@model IEnumerable<Fatec.Treinamento.Model.DTO.AssuntoCursoUsuario>

<div class="main-content">

    <div id="tab-courses" class="clearfix search-content">
        @foreach (var item in Model)
            {
            <div class="search-results-rows clearfix">
                <div class="search-result">
                    <div class="search-result__info">
                        <div class="search-result__title">@*@Html.RouteLink("Começar Curso", "RotaComecarCurso", new RouteValueDictionary() { { "IdUsuario", item.Usuario.Id }, { "IdCurso", item.IdCurso } })*@ <a href="@Url.Action("Detalhe", new { id = item.IdCurso })">@Html.DisplayFor(modelItem => item.Nome)</a></div>
                        <div class="row search-result__details clearfix">
                            <div class="col-sm-3 search-result__author"><text>Por </text>@Html.DisplayFor(modelItem => item.NomeAutor)</div>
                            <div class="col-md-1 search-result__level">@item.Nivel</div>
                            <div class="col-sm-2 search-result__date">@item.DataCriacao.ToString("dd/MM/yyyy")</div>
                            <div class="col-sm-2 search-result__duration show-for-medium-up">@item.TotalDuracaoCursoFormatado</div>
                            <div class="col-sm-2 search-result__rating show-for-large-up">
                                @if (item.Classificacao != 0)
                                {
                                    for (int i = 0; i < item.Classificacao; i++)
                                    {
                                        <span class="glyphicon glyphicon-star estrela-dourada"></span>
                                    }
                                    for (int i = 0; i < (5-item.Classificacao); i++)
                                    {
                                        <span class="glyphicon glyphicon-star-empty estrela-dourada"></span>
                                    }
                                }
                                else
                                {
                                    for (int i = 0; i < 5; i++)
                                    {
                                        <span class="glyphicon glyphicon-star-empty "></span>
                                    }
                                }
                                <span>(@Html.DisplayFor(Model => item.QtdUsuariosVotosCurso))</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
