@*@model IEnumerable<Fatec.Treinamento.Model.Assunto>*@
@model IEnumerable<Fatec.Treinamento.Model.DTO.AssuntoCursoUsuario>
@*@model IEnumerable<Fatec.Treinamento.Model.DTO.CursosPorAssunto>*@
@{
    ViewBag.Title = "Assunto";
}

<div class="container-fluid">
    <div id="div-action-title" class="full-width-div">
        <h2>Assunto - @TempData["NomeAssunto"]</h2>
    </div>

    @Html.Partial("_ListagemCursos")

    @*<div class="main-content">

        <div id="tab-courses" class="clearfix search-content">
            @foreach (var item in Model)
            {
                <div class="search-results-rows clearfix">
                    <div class="search-result">
                        <div class="search-result__info">
                            <div class="search-result__title"><a href="@Url.Action("Detalhe", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Nome)</a></div>
                            <div class="search-result__details clearfix">
                                <div class="search-result__author"><text>Por </text>@Html.DisplayFor(modelItem => item.NomeAutor)</div>
                                <div class="search-result__level">Beginner</div>
                                <div class="search-result__date">@Html.DisplayFor(modelItem => item.DataCriacao)</div>
                                <div class="search-result__duration show-for-medium-up">5h 26m</div>
                                <div class="search-result__rating show-for-large-up">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    <span>(525)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>*@



@*<div class="container-fluid">
    <div id="div-action-title" class="full-width-div">
        <h2>Assunto - @TempData["NomeAssunto"]</h2>
    </div>
</div>
<main>
    <div class="main-content">

        <p>
            @Html.ActionLink("Novo Assunto", "Criar")
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NomeAssunto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NomeAutor)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-128.png" width="64" height="64" alt="">
                                </a>
                            </div>
                        </td>
                        <td>
                            @Html.ActionLink(item.Nome, "Detalhe", new { id = item.Id }, new { @class = "btn btn-link" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeAssunto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeAutor)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Editar", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Exlcuir", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>*@
