@*@model IEnumerable<Fatec.Treinamento.Model.Assunto>*@
@model IEnumerable<Fatec.Treinamento.Model.DTO.AssuntoCursoUsuario>
@*@model IEnumerable<Fatec.Treinamento.Model.DTO.CursosPorAssunto>*@
@{
    ViewBag.Title = "Assunto";
}

    <h2>Assunto - @TempData["NomeAssunto"]</h2>

<p>
    @Html.ActionLink("Novo Assunto", "Criar")
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeAssunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Nome, "Detalhe", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeAssunto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeAutor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Exlcuir", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

