@*@model IEnumerable <Fatec.Treinamento.Model.DTO.AssuntoCursoUsuario>*@
@model IEnumerable<Fatec.Treinamento.Model.Detalhe>

@{
    ViewBag.Title = "Detalhe";
}

@foreach (var item in Model)
{
    <div class="container-fluid">
        <div id="div-detalhe" class="full-width-div img-div">
            <div class="container">
            
                    <h1>@item.Nome</h1>
            
            
                <p class="lead">
                    Por: @item.NomeAutor
                </p>
            </div>
        </div>
        <main>
            <div class="rowDetalhe">
                <div class="col-md-8">
                    <div class="detalhe-descricao">
                        <h3>Descrição do Curso</h3>
                        <p>@item.Descricao</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="menu-detalhe">
                        <div class="list-group" id="list-content">
                            @if (Request.IsAuthenticated)
                            {
                                <button type="button" id="btn-comecar" class="list-group-item">COMEÇAR CURSO</button>/**/
                            }
                            else
                            {
                                <button type="button" data-toggle="modal" data-target="#openModal" id="btn-comecar" class="list-group-item">COMEÇAR CURSO</button>/**/
                            }
                            <text class="list-group-item">Numero de capítulos: <span class="badge">X</span></text>
                            <text class="list-group-item">Pontos adquiridos nesse curso: <span class="badge">X</span></text>
                            <div class="spacer"></div>
                            @Html.ActionLink("Voltar aos Cursos", "Index", "CursoController", new { @class = "list-group-item"})
                            @*<text class="list-group-item"><span class="glyphicon glyphicon-triangle-left"></span> Voltar aos Cursos</text>*@
                        </div>
                    </div>
                </div>
            </div>
        </main>   
    </div>
}
<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Você precisa entrar para ver ese curso</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p>Se você já é cadastrado, é só clicar no botão ENTRAR.</p>
                    <p> Se ainda não é registrado é só clicar no botão Registrar.</p>
                </div>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Entrar", "Login", "Usuario", null, new { @class="btn btn-primary" })
                @Html.ActionLink("Registrar", "Registrar", "Usuario", null, new { @class = "btn btn-default" })
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

