@model Fatec.Treinamento.Model.DTO.AssuntoCursoUsuario

@{
    ViewBag.Title = "Detalhe";
}

    <div class="container-fluid">
        <div id="div-detalhe" class="full-width-div img-div">
            <div class="container">
            
                    <h1>@Model.Nome</h1>
            
            
                <p class="lead">
                    Por: @Model.NomeAutor
                </p>
            </div>
        </div>
        <main>
            <div class="rowDetalhe">
                <div class="col-md-8">
                    <div class="panel panel-default" id="painel-info">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Descrição do Curso</div>
                        <div class="panel-body">
                            <div class="word-wrap">
                                <p>@Model.Descricao</p>
                            </div>
                        </div>
                        <!-- Default panel contents -->
                        <div class="panel-heading">Capítulos do Curso</div>
                        <div class="panel-body">                            
                        <!-- List group -->
                        <ul class="list-group">
                            @foreach (var capitulo in Model.Capitulos)
                            {
                                <li class="list-group-item active">@capitulo.Nome</li>
                                foreach (var video in capitulo.Videos)
                                {
                                    <li class="list-group-item">@video.Nome</li>
                                }
                            }
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="menu-detalhe">
                        <div class="list-group" id="list-content">
                            @if (Request.IsAuthenticated)
                            {
                                <a href="@Url.Action("Assistir", new { idCurso = Model.IdCurso } )" id="btn-comecar" class="btn btn-primary list-group-item">COMEÇAR CURSO</a>
                            }
                            else
                            {
                                <button type="button" data-toggle="modal" data-target="#openModal" id="btn-comecar" class="list-group-item">COMEÇAR CURSO</button>/**/
                            }
                            <text class="list-group-item">Numero de capítulos: <span class="badge">@Model.Capitulos.Count</span></text>
                            <text class="list-group-item">Pontos adquiridos nesse curso: <span class="badge">@Model.TotalPontos</span></text>
                            <text class="list-group-item">Tempo total do curso: <span class="badge">@Html.DisplayFor(Model => Model.TotalDuracaoCursoFormatado)</span></text>
                            <div class="spacer"></div>
                            @Html.ActionLink("Voltar aos Cursos", "Index", "CursoController", new { @class = "list-group-item"})
                        </div>
                    </div>
                </div>
            </div>
        </main>   
    </div>
<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Você precisa entrar para ver esse curso</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p>Se você já é cadastrado, é só clicar no botão ENTRAR.</p>
                    <p> Se ainda não é cadastrado é só clicar no botão CADASTRAR.</p>
                </div>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Entrar", "Login", "Usuario", null, new { @class="btn btn-primary" })
                @Html.ActionLink("Cadastrar", "Registrar", "Usuario", null, new { @class = "btn btn-default" })
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

