@model IEnumerable<Fatec.Treinamento.Model.DTO.DetalhesCurso>

@{
    ViewBag.Title = "Todos os Cursos";
}

<h2>Todos os Cursos</h2>

<p>
    @Html.ActionLink("Novo Curso", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Nome)*@
                @Html.ActionLink(item.Nome, "Detalhe", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Exlcuir", new { id = item.Id })
            </td>
        </tr>
    }

</table>