@model IEnumerable <Fatec.Treinamento.Model.DTO.AssuntoCursoUsuario>

@{
    ViewBag.Title = "Populares";
    ViewBag.Author = "Fabio Massaretto";
}

<div class="container-fluid">
    <div id="div-action-title" class="full-width-div">
        <h2>Populares</h2>
    </div>
</div>
<main>
    <div class="main-content">
        <h2>Veja os cursos que estão em destaque:</h2>
        <div class="row">
            @foreach (var item in Model)
            {
            //@Html.HiddenFor(Model => item.IdCurso);
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <img data-src="holder.js/300x200" alt="300x200" src="~/Content/Img/Cursos/@item.Nome/@item.Img" class="img-responsive">
                        <div class="caption">
                            <h4><a href="@Url.Action("Detalhe", new { id = item.IdCurso })">@Html.DisplayFor(modelItem => item.Nome)</a></h4>
                            <p>
                                @item.NomeAutor
                            </p>
                            <p>
                                @item.Nivel
                            </p>
                            <p>
                                @if (item.Classificacao != 0)
                                {
                                    for (int i = 0; i < item.Classificacao; i++)
                                    {
                                        <span class="glyphicon glyphicon-star estrela-dourada"></span>
                                    }
                                    for (int i = 0; i < (5 - item.Classificacao); i++)
                                    {
                                        <span class="glyphicon glyphicon-star-empty estrela-dourada"></span>
                                    }
                                        <span>(@Html.DisplayFor(Model => item.QtdUsuariosVotosCurso))</span>
                                }
                                else
                                {
                                    for (int i = 0; i < 5; i++)
                                    {
                                        <span class="glyphicon glyphicon-star-empty "></span>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }            
        </div>
    </div>
</main>