@model Fatec.Treinamento.Model.DTO.AssuntoCursoUsuario

@{
    ViewBag.Title = "Prova";
}

<h2>Prova do Curso - @Html.DisplayFor(Model => Model.Nome)</h2>
@using (Html.BeginForm("Prova", "Curso", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.IdCurso)
    @Html.HiddenFor(model => model.IdUsuario)
<div class="full-width-div">
    <div id="content-prova">
        <div class="content-prova-filho">
            <h2>Parabéns! Você concluiu o curso.</h2>
            <div class="nota-curso">              
                <div class="row" id="lbl-nota">
                    <div class="nota-item">
                    <p>Qual sua nota para o curso: </p>
                    </div>
                    <div class="nota-item">
                        @Html.DropDownListFor(c => c.SelectedNota, new[] {
                                                    new SelectListItem { Text = "1", Value = "1" },
                                                    new SelectListItem { Text = "2", Value = "2" },
                                                    new SelectListItem { Text = "3", Value = "3" },
                                                    new SelectListItem { Text = "4", Value = "4" },
                                                    new SelectListItem { Text = "5", Value = "5" }
                                                    }, "Nota do Curso"
                                            )
                    </div>
                </div>
                <div class="nota-item">

                </div>
                <input type="submit" name="btnFinalizar" value="Finalizar Curso"  class="btn btn-primary"/>
            </div>
        </div>
    </div>
</div>
}