@model IEnumerable<Fatec.Treinamento.Model.Trilha>

@{
    ViewBag.Title = "View";
}
<div id="gradient-bg">
    <h2>Trilha</h2>
</div>


<p>
    @Html.ActionLink("Nova Trilha", "Criar", null, new { @class = "link-format"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Exlcuir", new { id=item.Id })
        </td>
    </tr>
}

</table>
